<EditForm Model="obra" OnValidSubmit="onValidSubmit">
	<DataAnnotationsValidator/>
<div class="form-group">
	<label>Nombre de la obra</label>
	<div>
				<InputText class="form-control" @bind-Value="@obra.nombreObra" />
			<ValidationMessage For="@(() => obra.nombreObra)" />
	</div>
</div>

	<div class="form-group">
		<label>Dirección de la obra</label>
		<div>
				<InputText class="form-control" @bind-Value="@obra.direccion" />
			<ValidationMessage For="@(() => obra.direccion)" />
		</div>
	</div>

	<div class="form-group">
		<label>Estado de la obra</label>
		<div>
			<InputSelect class="form-control" @bind-Value="@obra.EstadoId" >
				<option value="1"> No Iniciado </option>
				<option value="2"> En construccion </option>
				<option value="3"> Terminado </option>
			</InputSelect>
			<ValidationMessage For="@(() => obra.EstadoId)" />
		</div>
	</div>

	<div class="modal-footer">
	<button class="btn btn-info" type="submit">Aceptar</button>
	<button class="btn btn-secondary" @oneclick="onCancel">Cancelar</button>
	</div>
</EditForm>

@code {
	[Parameter] public Obra obra { get; set; } = new Obra();
	[Parameter] public EventCallback onValidSubmit { get; set; }
	[Parameter] public EventCallback onCancel { get; set; }
}
