@page "/Productos"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject IHttpServicio http

<PageTitle>Productos</PageTitle>

<!DOCTYPE HTML>

<html>

<head>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/Styles/ProductoStyles.css?version=0.1" rel="stylesheet" type="text/css" />

</head>

<body class="align-content-center">

    <div class="insquare-header">

        <h2 class="productos">Productos</h2>

        <button type="button" class="btn btn-info botones"
                @onclick="() => OpenNuevoProducto()">
            + 
        </button>

    </div>
    
    <div class="insquare">
        <div class="table-responsive rounded-3">
            <table class="table table-striped table-hover table-bordered text-center">
                <thead id="table-headers">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Unidad</th>
                        <th></th>
                        <th class="hide"></th>
                        <th class="hide"></th>
                        <th class="hide"></th>
                    </tr>

                </thead>
                <tbody>

                    @if (Error)
                    {
                        <tr>@Mensaje</tr>
                    }
                    else
                    {

                        @if (productos == null)
                        {
                            <tr>Cargando...</tr>
                        }
                        else if (productos.Count == 0)
                        {
                            <tr>No existen los datos</tr>
                        }
                        else
                        {
                            @foreach (var item in productos)
                            {
                                <tr>
                                    <td>@item.codigo</td>
                                    <td>@item.nombreProducto</td>
                                    <td>@item.Unidad.nombreUnidad</td>
                                    <td class="table-button-cell"></td>
                                    <td class="hide">
                                        
                                        <span class="material-symbols-outlined newCompBtn" @onclick="()=>nuevo(item)"> add_box </span>
                                        
                                    </td>
                                    <td class="hide">
                                        <i class='bx bxs-component table-button' @onclick="() => OpenProdComp(item.id, item.nombreProducto)"></i>

                                    </td>
                                    <td class="hide">
                                        <i class='bx bxs-edit-alt edit-button' @onclick="() => OpenModificarProducto(item.id)"></i>
                                    </td>
                                    <td class="hide">
                                        <i class='bx bx-trash trash-button table-button' @onclick="()=>Eliminar(item)"></i>

                                    </td>
                                </tr>
                                <tr class="table-button-row">
                                    <td class="table-button-cell">

                                        <span class="material-symbols-outlined newCompBtn" @onclick="()=>nuevo(item)"> add_box </span>

                                    </td>
                                    <td class="table-button-cell">
                                        <i class='bx bxs-component table-button' @onclick="() => OpenProdComp(item.id, item.nombreProducto)"></i>

                                    </td>
                                    <td class="table-button-cell">
                                        <i class='bx bxs-edit-alt edit-button' @onclick="() => OpenModificarProducto(item.id)"></i>
                                    </td>
                                    <td class="table-button-cell">
                                        <i class='bx bx-trash trash-button table-button' @onclick="()=>Eliminar(item)"></i>

                                    </td>
                                </tr>
                            }
                        }       
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex">



            @if (NuevoProductoOpen)
            {
                <GestorStock.Client.Pages.Productos.Modals.ModalCargar 
                                                                         OnClose="@OnNuevoProductoClose">
                </GestorStock.Client.Pages.Productos.Modals.ModalCargar>
            }

            @if (ModificarProductoOpen)
            {
                <GestorStock.Client.Pages.Productos.Modals.ModalModificar 
                                                                      productoid="selectedItemToEditId"
                                                                      OnClose="@OnModificarProductoClose">
                </GestorStock.Client.Pages.Productos.Modals.ModalModificar>
            }

          
            <Confirmacion @ref="confirmar"
                          verCancelar="true"
                          verOk="true"
                          onCancel="Cancelar"
                          onConfirm="Borrar">

                <div>
                    <p>Está por borrar el producto @ProductoBorrar.nombreProducto</p>
                    <br />
                    <p>¿Está seguro que desea continuar?</p>
                </div>
            </Confirmacion>

            <GestorStock.Client.Pages.Productos.Modals.ModalNewComp @ref="nuevoComp"
                         verCancelar="true"
                         verOk="true"
                         onCancel="CancelarComp"
                         onConfirm="newComp">

                <div>
                    <p>Quiere convertir al producto @ProductoComp.nombreProducto en un componente?</p>
                    <br />
                    <p>¿Está seguro que desea continuar?</p>
                </div>
            
            </GestorStock.Client.Pages.Productos.Modals.ModalNewComp>

            @if (NuevoProdCompOpen)
            {
                <GestorStock.Client.Pages.Productos.Modals.ModalProdComp
                                                                productoid="selectedItemToEditId"
                                                                prodName="@prodName"
                                                                OnClose="OnProdCompClose"
                >                             
                </GestorStock.Client.Pages.Productos.Modals.ModalProdComp>
            }

        </div>
    </div>



</body>

</html>

@code {


    [Inject]
    private NavigationManager NavigationManager { get; set; }

    Confirmacion confirmar;

    GestorStock.Client.Pages.Productos.Modals.ModalNewComp nuevoComp;

    List<Producto>? productos;
    bool Error = false;
    string Mensaje = "";

    Producto ProductoBorrar;

    Producto ProductoComp;

    private Componente newComponente = new();

    List<Unidad>? unidades;


    private async Task nuevo(Producto ProdComp)
    {
        ProductoComp = ProdComp;
        nuevoComp.Ver();
    }
    private async Task newComp()
    {
        ComponenteDTO componenteDTO = new()
            {
                ProductoId = ProductoComp.id

            };

        var httpRespuesta = await http.Post<ComponenteDTO>("api/Componente", componenteDTO); //post

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        CancelarComp();
    }

    private async Task Eliminar(Producto prodBorrar)
    {
        ProductoBorrar = prodBorrar;
        confirmar.Ver();
    }
    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/Producto/{ProductoBorrar.id}");
        if (respuesta.Error)
        {
            var body = "ERROR: no se pudo eliminar";
        }

        Cancelar();
        await Leer();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        productos = null;
        var respuesta = await http.Get<List<Producto>>("api/Producto"); //GET
        Error = respuesta.Error;
        if (!respuesta.Error)
        {
            productos = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError(); //se llama el metodo ut
        }
    }



    private void Cancelar()
    {
        confirmar.Ocultar();
        ProductoBorrar = null;
    }

    private void CancelarComp()
    {
        nuevoComp.Ocultar();
        ProductoBorrar = null;
    }

    public bool NuevoProdCompOpen { get; set; }

    public bool NuevoProductoOpen { get; set; }

    public bool ModificarProductoOpen { get; set; }

    string prodName = "";

    private void OpenProdComp(int itemId, string itemName)
    {
        prodName = itemName;
        selectedItemToEditId = itemId;
        NuevoProdCompOpen = true;
        StateHasChanged();
    }

    private async Task OnProdCompClose(bool accepted)
    {
        NuevoProdCompOpen = false;
        await Leer();
        StateHasChanged();

    }

    private void OpenNuevoProducto()
    {
        NuevoProductoOpen = true;
        StateHasChanged();

    }

    private async Task OnNuevoProductoClose(bool accepted)
    {
        NuevoProductoOpen = false;
        await Leer();
        StateHasChanged();
    }

    int selectedItemToEditId = -1;

    private void OpenModificarProducto(int itemId)
    {
        selectedItemToEditId = itemId;
        ModificarProductoOpen = true;
        StateHasChanged();
    }

    private async Task OnModificarProductoClose(bool accepted)
    {
        ModificarProductoOpen = false;
        await Leer();
        StateHasChanged();
        
    }
}